@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(
    45deg,
    #ffeaa7,
    #ffeaa7 10px,
    #dff9fb 10px,
    #dff9fb 20px
  );
  font-family: 'Comic Neue', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fffac8;
  padding: 35px 25px;
  border-radius: 25px 5px 20px 10px;
  box-shadow: -8px 10px 0px #ff7675, 4px 4px 15px rgba(0,0,0,0.2);
  width: 330px;
  transform: rotate(-1deg);
  border: 3px dashed #222;
  text-align: center;
}

.card h2 {
  color: #222;
  margin-bottom: 15px;
  transform: rotate(2deg);
}

.card label {
  font-size: 16px;
  color: #444;
  display: block;
  margin-bottom: 10px;
}

.card input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px dotted #ff7675;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #fffef2;
  text-align: center;
}

.card button {
  padding: 12px;
  width: 100%;
  background-color: #ff7675;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: #d63031;
  transform: scale(1.05) rotate(-1deg);
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  text-shadow: 1px 1px #fff;
}
